[json-root-fni18943] [json-list-fh3935] {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0.1rem 0.3rem;
  --add-color: #81c784;
}
[json-root-fni18943] [json-list-fh3935] > button {
  margin: 0;
  background: transparent;
  box-shadow: none;
  padding: 0.85rem;
  border-radius: 3rem;
  height: 0.96em;
  box-sizing: content-box;
  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  font-size: 2em;
  padding-top: 0;
  border-width: medium;
  transform: scale(0.7);
  color: var(--add-color);
  border-color: var(--add-color);
}